main {
  display: flex;
  width: 100%;
  border: 2px solid grey;
}

.main-content {
  width: 70%;
  border: 2px solid rebeccapurple;
}

.photo-content {
  display: block;
  width: 100%;
  border: 2px solid pink;
}

.mini-menu-content {
  display: none;
}

nav a {
  display: block;
  color: royalblue;
  margin-bottom: 12px;
}

nav {
  width: 30%;
  border: 2px solid salmon;
}
