<nav>

    <div class="chevron"></div>

    <!-- <div id="burger-menu" class="burger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <ul id="menu-items" class="menu-items">
        <li><a href="/index.html">about</a></li>
        <li>
            <div>audio</div>
            <ul>
                <li>
                    <div>production</div>
                    <ul>
                        <li>
                            <a href="/pages/audio/production/arcadia.html">arcadia inc.</a>
                        </li>
                        <li>
                            <a href="/pages/audio/production/100days.html">100 days of sound design</a>
                        </li>
                        <li>
                            <a href="/pages/audio/production/music-to-languish-to.html">music to languish to</a>
                        </li>
                        <li>
                            <div>releases‥</div>
                            <ul>
                                <li>
                                    <a href="/pages/audio/production/releases/plumclu.html">Plum , clu</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <div>performance</div>
                    <ul>
                        <li>
                            <div>sonar flare‥</div>
                            <ul>
                                <li>
                                    <a href="/pages/audio/performance/sonar-flare/i.html">I</a>
                                </li>
                                <li>
                                    <a href="/pages/audio/performance/sonar-flare/ii.html">II</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/pages/audio/performance/ascii-esc.html">ASCII esc</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div>recording</div>
                    <ul>
                        <li>
                            <a href="/pages/audio/recording/guqin/index.html">guqin</a>
                        </li>
                        <li>
                            <div>
                                <a href="#">field recording‥</a>
                            </div>
                            <ul>
                                <li>
                                    <a href="/pages/audio/recording/field-recording/ambiences.html">ambiences</a>
                                </li>
                                <li>
                                    <a href="/pages/audio/recording/field-recording/eastern-parkway-meditations.html">eastern
                                        parkway meditations</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <div>computing</div>
            <ul>
                <li><a href="/pages/computing/software.html">software</a></li>
                <li>
                    <a href="/pages/computing/music-technology.html">music technology</a>
                </li>
            </ul>
        </li>
    </ul> -->
</nav>