* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  border: 2px solid grey;
}

.left {
  border: 2px solid green;
  width: 800px;
}

.right {
  border: 2px solid yellow;
  width: auto;
}

@media only screen and (min-width: 1000px) {
  .left {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .left,
  .right {
    display: inline-block;
    vertical-align: top;
  }
}

nav {
  width: 100%;
  border: 2px solid salmon;
  display: block;
}

.single {
  columns: 1;
}

.double {
  columns: 2;
}

.triple {
  columns: 3;
}

ul,
nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:hover,
.menu-trigger:hover {
  font-weight: bold;
  color: black;
}

a:active,
.menu-trigger:active {
  font-weight: bold;
  color: palevioletred;
  text-decoration: wavy;
}

a:visited {
  text-decoration: none;
  color: black;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

nav li {
  margin-bottom: 13px;
}

nav a {
  text-decoration: none;
  color: black;
}

.menu-trigger {
  display: inline-block;
  cursor: pointer;
}

.menu-secondary {
  display: none;
  margin-left: 13px;
  margin-top: 13px;
  margin-bottom: 16px;
}

.menu-secondary:hover {
  display: block;
}

nav li:last-child {
  margin-bottom: 0;
}

.right-content {
  width: 100%;
  border: 2px solid rebeccapurple;
}

.right-content .single,
.double,
.triple {
  margin-top: 4px;
  padding: 1rem;
}

.photo-content {
  display: block;
  width: 100%;
  border: 2px solid pink;
}
