/* globals */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/* containers */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.left {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 40px;
  flex: 1 400px;
}

.left,
.right {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.right {
  width: 100%;
  line-height: 1.5rem;
}

.right a {
  color: blue;
}

.right p {
  text-align: justify;
  text-justify: inter-word;
}

.right .single,
.double,
.triple {
  margin-top: 4px;
  padding: 1rem;
}

.stacked {
  display: grid;
  grid-template-columns: 1;
  row-gap: 1rem;
}

.content {
  display: block;
  width: 100%;
  padding: 1rem;
  padding-left: 0rem;
  padding-right: 2rem;
}

ul.content {
  list-style-type: disc;
}

.content li {
  margin: 1rem;
}

/* wide */
@media (min-width: 769px) {
  .right {
    flex-direction: column;
    columns: 1;
  }

  .single,
  .double,
  .triple {
    flex: 1;
  }

  .double,
  .triple {
    columns: 1;
  }

  .single {
    columns: 1;
  }

  .double {
    columns: 2;
  }

  .triple {
    columns: 3;
  }

  .stacked {
    grid-template-rows: 2;
  }

  iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 500px;
  }
  .left {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 40px;
    flex: 1 400px;
  }

  .left,
  .right {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
}

/* mobile */
@media (max-width: 768px) {
  .right {
    flex-direction: column;
    columns: 1;
  }
  .left {
    flex: 1 100px;
    padding: 20px;
    font-size: 0.5rem;
  }

  .single,
  .double,
  .triple {
    columns: 1;
    margin-top: 0;
    padding: 0;
  }

  .stacked {
    grid-template-rows: 1;
  }

  iframe {
    width: 80%;
  }
}

/* nav */
nav {
  width: 100%;
  display: block;
}

ul,
nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:hover,
.menu-trigger:hover {
  font-weight: bold;
  font-style: italic;
}

a:active,
.active,
.menu-trigger:active {
  font-weight: bold;
  color: palevioletred;
  text-decoration: wavy;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

nav li {
  margin-bottom: 13px;
}

nav a {
  text-decoration: none;
  color: black;
}

.menu-trigger {
  display: inline-block;
  cursor: pointer;
}

.menu-secondary {
  display: none;
  margin-left: 13px;
  margin-top: 13px;
  margin-bottom: 16px;
}

.menu-secondary:hover {
  display: block;
}

nav li:last-child {
  margin-bottom: 0;
}
