* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  border: 2px solid grey;
}

.left {
  border: 2px solid green;
  flex: 1 400px;
}

.right {
  border: 2px solid yellow;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .left {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 40px;
  }
  .left,
  .right {
    display: inline-block;
    vertical-align: top;
  }
}

nav {
  width: 100%;
  border: 2px solid salmon;
  display: block;
}

.single {
  columns: 1;
}

.double {
  columns: 2;
}

.triple {
  columns: 3;
}

ul,
nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:hover,
.menu-trigger:hover {
  font-weight: bold;
  color: palevioletred;
}

a:active,
.active,
.menu-trigger:active {
  font-weight: bold;
  color: black;
  text-decoration: wavy;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

nav li {
  margin-bottom: 13px;
}

nav a {
  text-decoration: none;
  color: black;
}

.right-content a {
  color: blue;
}

.menu-trigger {
  display: inline-block;
  cursor: pointer;
}

.menu-secondary {
  display: none;
  margin-left: 13px;
  margin-top: 13px;
  margin-bottom: 16px;
}

.menu-secondary:hover {
  display: block;
}

nav li:last-child {
  margin-bottom: 0;
}

.right-content {
  width: 100%;
  line-height: 1.5rem;
  border: 2px solid rebeccapurple;
}

.right-content .single,
.double,
.triple {
  margin-top: 4px;
  padding: 1rem;
}

.stacked {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  row-gap: 1rem;
}

.content {
  display: block;
  width: 100%;
  border: 2px solid pink;
}

ul.content {
  list-style-type: disc;
}

.content li {
  margin: 1rem;
}
